@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spicy+Rice&display=swap');
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.roboto-mono-font {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100dvh;
  background-color:white;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none; 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
li{
  list-style: none;
}
button:hover {
  border-color: #646cff;
  cursor:pointer;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.custom-text-shadow {
  text-shadow: 3px 3px 5px rgba(41, 41, 40, 0.5),3px 3px 5px rgba(41, 41, 40, 0.5);
}
.custom-gradient{
  background: linear-gradient(
    to right,
    #4d91ff 20%,
    #3379e9 30%,
    #204f9b 80%
  )}
.sky-gradient{
  background: linear-gradient(
    to bottom,
    #3379e9 10%,
    #ffffff 90%
  );
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  button {
    background-color: #f9f9f9;
  }
}
